<div class="text-left m-5">
  <h2 class="d-inline bg-light m-3">ログイン</h2><br>
  <div class="m-5">
    <h4 class="d-inline bg-light">会員の方はこちらからログイン</h4>
    <%= form_with model: @customer, url: customer_session_path do |f| %>
      <div class="field m-3">
        <%= f.label :メールアドレス %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="field m-3">
        <%= f.label :パスワード %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      <div class="actions">
        <%= f.submit "ログイン", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <%= render "public/shared/links" %>
</div>
