  <p>
    <% if @item.image.attached? %>
      <%= image_tag @item.image, size: "240x200" %>
    <% else %>
      <%= image_tag 'no_image', size: "240x200" %>
    <% end %>
  </p>
  <div>
    <h2><%= @item.name %></h2>
    <p><%= @item.introduction %></p>
    <p>￥<%= @item.add_tax_price.to_s(:delimited) %>（税込）</p>
    <%= form_with model: @cart_item, url: cart_items_path, local: true do |f| %>
      <%= f.hidden_field :item_id, :value => @item.id %>
      <%= f.select :amount, *[1..10] %>
      <%= f.submit "カートに入れる" %>
    <% end %>
  </div>