  <p>
    <% if @item.image.attached? %>
      <%= image_tag @item.image, size: "240x200" %>
    <% else %>
      <%= image_tag 'no_image', size: "240x200" %>
    <% end %>
  </p>
  <div>
    <h2><%= @item.name %></h2>
    <p><%= @item.introduction %></p>
    <p>￥<%= @item.add_tax_price %>（税込）</p>
    <% form_with model: @item, url:
    <%= f.hidden_field :title, :value => "楽しいRuby" %>
  </div>

